# Flight Price Prediction

This is project is about predicting the price of a flight based on the features of the flight. We are going to use a dataset from `/data` and train a model to predict the price of a flight.

## 1. Load and explore the dataset

In [19]:
import pandas as pd

df = pd.read_csv('data/flight_dataset.csv')

print(f"L'ensemble des données contient {df.shape[0]} lignes et {df.shape[1]} colonnes")

print(f"Les 5 premières lignes du dataset sont : \n{df.head()}")

print(f"Les 5 dernières lignes du dataset sont : \n{df.tail()}")

print(f"Les colonnes du dataset sont : \n{df.columns}")

L'ensemble des données contient 10683 lignes et 14 colonnes
Les 5 premières lignes du dataset sont :
       Airline    Source Destination  Total_Stops  Price  Date  Month  Year  \
0       IndiGo  Banglore   New Delhi            0   3897    24      3  2019
1    Air India   Kolkata    Banglore            2   7662     1      5  2019
2  Jet Airways     Delhi      Cochin            2  13882     9      6  2019
3       IndiGo   Kolkata    Banglore            1   6218    12      5  2019
4       IndiGo  Banglore   New Delhi            1  13302     1      3  2019

   Dep_hours  Dep_min  Arrival_hours  Arrival_min  Duration_hours  \
0         22       20              1           10               2
1          5       50             13           15               7
2          9       25              4           25              19
3         18        5             23           30               5
4         16       50             21           35               4

   Duration_min
0            50
1            25
2             0
3            25
4            45
Les 5 dernières lignes du dataset sont :
           Airline    Source Destination  Total_Stops  Price  Date  Month  \
10678     Air Asia   Kolkata    Banglore            0   4107     9      4
10679    Air India   Kolkata    Banglore            0   4145    27      4
10680  Jet Airways  Banglore       Delhi            0   7229    27      4
10681      Vistara  Banglore   New Delhi            0  12648     1      3
10682    Air India     Delhi      Cochin            2  11753     9      5

       Year  Dep_hours  Dep_min  Arrival_hours  Arrival_min  Duration_hours  \
10678  2019         19       55             22           25               2
10679  2019         20       45             23           20               2
10680  2019          8       20             11           20               3
10681  2019         11       30             14           10               2
10682  2019         10       55             19           15               8

       Duration_min
10678            30
10679            35
10680             0
10681            40
10682            20
Les colonnes du dataset sont :
Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Price', 'Date',
       'Month', 'Year', 'Dep_hours', 'Dep_min', 'Arrival_hours', 'Arrival_min',
       'Duration_hours', 'Duration_min'],
      dtype='object')

We can see here that the format of the date is separated by columns with the number of the day, month and year.

In [20]:
print(f"The unique values of the column 'Airline' are : {df['Airline'].unique()}")

print(f"The unique values of the column 'Source' are : {df['Source'].unique()}")

print(f"The unique values of the column 'Destination' are : {df['Destination'].unique()}")

The unique values of the column 'Airline' are : ['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
The unique values of the column 'Source' are : ['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
The unique values of the column 'Destination' are : ['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']

## 2. Preprocessing

In [21]:
nb_null_values_line = df.isnull().any(axis=1).sum()
print(f"The number of lines with null values is {nb_null_values_line}")

if nb_null_values_line > 0:
    df = df.dropna()
    print(f"Deleting the lines with null values")
    

df["Duration_total_min"] = df["Duration_hours"] * 60 + df["Duration_min"]

df = pd.get_dummies(df, columns=["Airline", "Source", "Destination"], drop_first=True)

print(df.head())

The number of lines with null values is 0
   Total_Stops  Price  Date  Month  Year  Dep_hours  Dep_min  Arrival_hours  \
0            0   3897    24      3  2019         22       20              1
1            2   7662     1      5  2019          5       50             13
2            2  13882     9      6  2019          9       25              4
3            1   6218    12      5  2019         18        5             23
4            1  13302     1      3  2019         16       50             21

   Arrival_min  Duration_hours  ...  Airline_Vistara Premium economy  \
0           10               2  ...                            False
1           15               7  ...                            False
2           25              19  ...                            False
3           30               5  ...                            False
4           35               4  ...                            False

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai  \
0           False         False           False          False
1           False         False            True          False
2           False          True           False          False
3           False         False            True          False
4           False         False           False          False

   Destination_Cochin  Destination_Delhi  Destination_Hyderabad  \
0               False              False                  False
1               False              False                  False
2                True              False                  False
3               False              False                  False
4               False              False                  False

   Destination_Kolkata  Destination_New Delhi
0                False                   True
1                False                  False
2                False                  False
3                False                  False
4                False                   True

[5 rows x 32 columns]

We converted the duration in minutes and we created a new column with the total duration in minutes. All categorical variables are converted into dummy variables with the One Hot Encoding.

## 3. Exploratory Data Analysis (EDA)

## 4. Chose and train several models

## 5. Evaluation of performance

## 6. Compare and select the best model